<div class="navbar-collapse collapse">
  <form id="login" class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="email"
             name="email"
             placeholder="E-mail"
             class="form-control"
             data-rule-required="true"
             data-msg-required="E-maili aadress peab olema määratud."
             data-msg-email="Tegemist ei ole korrektse e-maili aadressiga." />
    </div>
    <div class="form-group">
      <input type="password"
             name="password"
             placeholder="Salasõna"
             class="form-control"
             data-rule-required="true"
             data-msg-required="Salasõna peab olema määratud." />
    </div>
    <button type="submit" class="btn btn-success">Logi sisse</button>
  </form>
</div>
