<div id="new-complaint-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Lisa uus kaebus</h4>
      </div>
      <form class="form-horizontal" role="form">
        <div class="modal-body">
          <div class="form-group">
            <label for="complaint-title" class="col-sm-4 control-label">Episoodi pealkiri:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="complaint-title" name="complaint-title" placeholder="Episoodi pealkiri" />
            </div>
          </div>
          <div class="form-group">
            <label for="complaint-type" class="col-sm-4 control-label">Sündmuse tüüp:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="complaint-type" name="complaint-type" placeholder="Sündmuse tüüp" />
            </div>
          </div>
          <div class="form-group">
            <label for="complaint-time" class="col-sm-4 control-label">Kellaaeg:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="datetime" class="form-control" id="complaint-time" name="complaint-time" placeholder="PP.KK.AAAA TT:MM" />
                <span class="input-group-btn">
                  <button class="btn btn-default" id="select-date" type="button">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="complaint-location" class="col-sm-4 control-label">Asukoht:</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" class="form-control" id="complaint-location" name="complaint-location" placeholder="Asukoht kaardil" />
                <span class="input-group-btn">
                  <button class="btn btn-default" id="select-location" type="button">
                    <span class="glyphicon glyphicon-map-marker"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="complaint-description" class="col-sm-4 control-label">Kirjeldus:</label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="3" id="complaint-description" name="complaint-description" placeholder="Kirjeldus"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Sulge</button>
          <button type="submit" class="btn btn-primary">Salvesta</button>
        </div>
      </form>
    </div>
  </div>
</div>
